<h1>Welcome to ProblemChild!</h1>
<h2>Enter your name below</h2>
<form action="/001_variables" method="post">
  <div>
    <label for="name">Your Name</label>
    <input id="name" type="text" name="user[0][name]" value="">
    <label for="name">Your friend's name</label>
    <input id="name" type="text" name="user[1][name]" value="">
    <label for="name">Your other friend's name</label>
    <input id="name" type="text" name="user[2][name]" value="">
    <input type="submit" value="Submit">
  </div>
</form>
