<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/application.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:900,300' rel='stylesheet' type='text/css'>
</head>

<div id="header-text">PROBLEM CHILD</div>

<body>
  <div id="bg">
    <img src="/assets/02_app_background_image.jpg" alt="">
  </div>
  <div class="story">
    <p>Okay. So everything in Ruby is an object.
      Variables are objects that can store any item of information that I choose.
      You've stored your three users as the unique variables User_1 = '<%= @user.name%>', User_2 = 'Mom' and User_3 = 'Jamie'.</p>
  </div>

  <div class="lesson">
    <span class="lesson-instructions">
      <div class="browser-mockup">
            <p>Well-done. Another day in the life of ProblemChild. We can finally get some sleep.</p>

            <span class="lesson-buttons">
              <form action="/001_variables/04_question_4" method="get">
                <input type="submit" value="Sleep">
              </form>
            </span>
        </div>
    </span>
  </div>

  <div class="text-editor">
    <div class="window">
      <div class="window-titlebar">
        <span class="window-buttons">
          <span class="window-button window-button-close"></span>
          <span class="window-button window-button-hide"></span>
          <span class="window-button window-button-full"></span>
        </span>
        <span class="window-title">Code editor</span>
      </div>
      <div class="window-content">
        <ol class="code">
          <li class="line comment"># Welcome to PROBLEM CHILD</li>
          <li class="line comment">Users = '<%= @user.name%>'</li>
          <li class="line comment">Users = 'Mom'</li>
          <li class="line comment">Users = 'Jamie'</li>
          <br>
          <li class="line comment">puts 'Users'</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="repl">
    <p id="repl-text">|1.9.3-p545| |ruby-2.2.0|  <%=@user.name%>-MacBook-Air in ~problem_child.rb <br>
      ruby problem_child.rb<br>
      'Jamie'
    </p>
  </div>
</body>
