<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/code-pirates.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="story">
    Okay. So everything in Ruby is an object.

    Variables are objects that can store any item of information that I choose.

    You've stored your three users as the unique variables User_1 = '<%= @user.name%>', User_2 = 'Mom' and User_3 = 'Jamie'.
  </div>

  <div class="lesson">
    <span class="lesson-instructions">
      Well-done. Another day in the life of ProblemChild. We can finally get some sleep.
    </span>

    <span class="lesson-buttons">
      <form action="/001_variables/04_question_4" method="get">
        <input type="submit" value="Sleep">
      </form>
    </span>
  </div>

  <div class="text-editor">
    <p id="text-editor-text">
      User_1 = '<%= @user.name%>'<br>
      User_2 = 'Mom'<br>
      User_3 = 'Jamie'<br>
    </p>
  </div>

  <div class="repl">
    <p id="repl-text">|1.9.3-p545| |ruby-2.2.0|  Gabrieles-MacBook-Air in ~ </p>
    Users = 'Jamie'
  </div>
</body>
</html>
