<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/code-pirates.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

  <div class="lesson">
    <span class="lesson-instructions">
      Wait… We have 500,000 users. We only just entered 13.

      How long is it going to take to enter all 500,000 users? Wait… What if more users sign-up while we are spending our time writing all of our usernames into ProblemChild? Wait… What if someone changes their username? … why didn’t I just take that Google offer?!

      There's got to be a better way!
    </span>

    <span class="lesson-buttons">
      <form action="/001_variables/06_question_6" method="get">
        <input type="submit" value="Take me to the better way!">
      </form>
    </span>
  </div>

  <div class="text-editor">
    <p id="text-editor-text">
      User_1 = '<%= @user.name %>'
      User_2 = 'Mom'
      User_3 = 'Jamie'
      User_4 = 'Oprah'
      User_5 = 'Matt'
      User_6 = 'Sarah'
      User_7 = 'Steph'
      User_8 = 'George'
      User_9 = 'Gabi'
      User_10 = 'Tyler'
      User_11 = 'Ronaldo'
      User_12 = 'Jacques'
      User_13 = 'Avi'
    </p>
  </div>

  <div class="repl">
    <p id="repl-text">|1.9.3-p545| |ruby-2.2.0|  Gabrieles-MacBook-Air in ~ </p>
    Users = 'Jamie'
  </div>
</body>
</html>
