<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/code-pirates.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="story">
    Okay. So everything in Ruby is an object.

    Variables are objects that can store any item of information that I choose.

    What if we stored each username using a unique user variable for ourself, mom and our best friend?
  </div>

  <div class="lesson">
    <span class="lesson-instructions">
      Choose how you would like to assign your usernames to each of your user variables:
    </span>

    <span class="lesson-buttons">
      <form action="/001_variables/04_question_4" method="post">
        <input id="name" type="text" name="variable_names[name]" value=""> = "<%= @user[:name] %>"
        <input id="name" type="text" name="variable_names[name]" value=""> = "Mom"
        <input id="name" type="text" name="variable_names[name]" value=""> = "Jamie"
        <input type="submit" value="Submit">
      </form>
    </span>
  </div>

  <div class="text-editor">
    <p id="text-editor-text">
      Users = '<%= @user.name%>'<br>
      Users = 'Mom'<br>
      Users = 'Jamie'<br>
    </p>
  </div>

  <div class="repl">
    <p id="repl-text">|1.9.3-p545| |ruby-2.2.0|  Gabrieles-MacBook-Air in ~ </p>
    Users = 'Jamie'
  </div>
</body>
</html>
