<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="code-pirates.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="story">
    <p>Boom! ProblemChild is up-and-running with its first users! Let’s see who are
      users are so we know who is using ProblemChild.</p>
  </div>

  <div class="lesson">
    <span class="lesson-instructions">
      <p>Now we want to know who our users are.<br>What command should we run to see them?<p>
    </span>

    <span class="lesson-buttons">
      <form action="/001_variables/variables_index" method="post">
        <div>
          <input type="submit" name="answer" value="User">
          <input type="submit" name="answer" value="Users">
        </div>
      </form>
    </span>
  </div>

  <div class="text-editor">
    <div id="file-name">
      <p>application.rb</p>
    </div>
    <p id="text-editor-text">
      User = '<%= @params["user"]["name"]%>'<br>
      User = '<%= @params["user"]["1"]["name"]%>'<br>
      User = '<%= @params["user"]["2"]["name"]%>'
    </p>
  </div>

  <div class="repl">
    <p id="repl-text">|1.9.3-p545| |ruby-2.2.0|  Gabrieles-MacBook-Air in ~ </p>
  </div>
</body>
