<<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/code-pirates.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  For the past 12 months you haven’t been able to get a full night’s sleep.
  All you can think about, all you can see, is the huge gap in online education
  for computer programming. Syntax is well covered, there is no shortage of language
  options, but no one effectively teaches context. Why variables? Why data structures?
  What problems do I have today that a particular programming tool can help me solve today?


  !! INSERT IMAGE OF SCRIBBLED COFFEE STAINED NAPKIN
  "ProblemChild - the web application service for helping you understand why."

  <!-- <a href="file:///C:\Users/gabrieleoconnor/workspace/flatiron-coursework/meetup_presentation_app/views/001_introduction/02_founders">
   <button>Visit Google</button>
</a> -->
  <form action="/001_introduction/02_founders" method="get">
    <input type="submit" value="Next">
  </form>
</body>
</html>
