<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProblemChild</title>
  <link rel="stylesheet" type="text/css" href="/introduction_pages.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:900,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="bg">
    <img src="assets/01_introduction_image.jpg" alt="">
  </div>
  <div id="text">
    <div id="header-text">
      <h1>PROBLEM CHILD</h1>
      <h2>the web application that helps you understand why.</h2>
    </div>

    <p>All you can think about, all you can see, is the huge gap in online education
    for computer programming. Syntax is well covered, there is no shortage of language
    options, but no one effectively teaches context. Why use 'variables'? Why use 'data structures'?
    What problems do I have that a programming tool can help me solve today?</p>

    <div id="button-holder">
      <form action="/001_introduction/02_mvp_homepage" method="get">
        <input type="submit" value="Enter">
      </form>
    </div>
  </div>
</body>
</html>
