<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  One long talk with yourself later, you decide to build you’re own solution to help people understand why we need the tools we use to build software that matters.

  !! (Photo of working at coffee table w/ laptop and credit cards on the table - the Visa Round ;) ) !!

  <form action="/001_introduction/03_mvp_homepage" method="get">
    <input type="submit" value="Next">
  </form>
</body>
</html>
