<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/application.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:900,300' rel='stylesheet' type='text/css'>
</head>

<div id="header-text">PROBLEM CHILD</div>

<body>
  <div id="bg">
    <img src="/assets/02_app_background_image.jpg" alt="">
  </div>
  <div class="story">
    <p>Congrats! You are now the Founder of PROBLEM CHILD. You are building our web site. <br>
      <br>But we need a way to keep track of our users. Hmmm...
  I know! We can use a text box and every time someone enters their name we will store their
  name as ‘users’. <br><br>
  This homepage below looks good. Let’s send this off to mom and my best friend, Jamie.</p>
  </div>

  <div class="lesson">
    <span class="lesson-instructions">
      <div class="browser-mockup">
        <p>PROBLEM CHILD</p>

        <p>Welcome to the PROBLEM CHILD homepage!</p>
        <p>Today, you’re going to learn how to begin solving REAL problems with code.</p>
        <p><form action="/001_variables" method="post">
          <div>
            <p>Enter your username to begin:
            <input id="name" type="text" name="user[name]" value=""></p>
          </div>
          <input type="submit" value="Submit">
        </form></p>
      </div>
    </span>
  </div>

  <div class="text-editor">
    <div class="window">
      <div class="window-titlebar">
        <span class="window-buttons">
          <span class="window-button window-button-close"></span>
          <span class="window-button window-button-hide"></span>
          <span class="window-button window-button-full"></span>
        </span>
        <span class="window-title">Text editor</span>
      </div>
      <div class="window-content">
        <ol class="code">
          <li class="line comment"># Welcome to PROBLEM CHILD</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="repl">
    <p id="repl-text">|1.9.3-p545| |ruby-2.2.0|  User-MacBook-Air in ~ </p>
  </div>
</body>
