<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  This is the view to serve the ProblemChild homepage
This is the presentation of how the founder is viewing the homepage of ProblemChild

We know we will need some way to ‘capture’ our username so we know who our users are.
I know! We can use a text box and every time someone enters their name I will store their
name in my computer as ‘users’. I’ve got my MVP. Let’s send this off to mom and my best friend, Jamie.


!! SEPARATE DIV !!
ProblemChild

Welcome to ProblemChild!

Nobody’s perfect. ProblemChild is a community of growth.

We all have problems - that’s why you’re here.

But today, you’re going to learn how to begin solving them.

Enter your username to begin:
<form action="/001_variables" method="post">
  <div>
    <label for="name">Your Name</label>
    <input id="name" type="text" name="user[name]" value="">
  </div>
  <input type="submit" value="Submit">
</form>

</body>
</html>
